<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Practice Suite">
    <test name="Challenging Dom Test">
        <classes>
            <class name="ua.hillel.tests.ChallengingDomTest"></class>
        </classes>
    </test>
    <test name="Download and Upload file Test">
        <classes>
            <class name="ua.hillel.tests.DownloadAndUploadFileTest"></class>
        </classes>
    </test>
    <test name="GeolocationTest">
        <classes>
            <class name="ua.hillel.tests.GeolocationTest"></class>
        </classes>
    </test>
    <test name="Hovers test">
        <classes>
            <class name="ua.hillel.tests.HoversTest"></class>
        </classes>
    </test>
    <test name="Login test">
        <classes>
            <class name="ua.hillel.tests.LoginTest"></class>
        </classes>
    </test>
    <test name="UI test">
        <classes>
            <class name="ua.hillel.tests.UiTests"></class>
        </classes>
    </test>
    <test name="Advanced tests">
        <classes>
            <class name="ua.hillel.tests.AdvancedTests"></class>
        </classes>
    </test>
    <test name="Selenide tests">
        <classes>
            <class name="ua.hillel.tests.selenide.DownloadUploadWithSelenideTest"></class>
            <class name="ua.hillel.tests.selenide.DynamicControlTest"></class>
        </classes>
    </test>
</suite>
